<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="cn.dd.core.admin.dao.Menu">

	<resultMap id="Menu" type="cn.dd.core.admin.entity.Menu">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="config" column="config"/>
        <result property="icon" column="icon"/>
        <result property="description" column="description"/>
        <result property="other" column="other"/>
        <result property="groupId" column="group_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="status" column="status"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="BaseColumns">
	    <![CDATA[
            id,name,url,config,icon,description,other,group_id,parent_id,status
	    ]]>
	</sql>

    <sql id="BaseWhere">
        <where>
            <if test="id != null and id != ''">
                AND id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="url != null and url != ''">
                AND url = #{url,jdbcType=VARCHAR}
            </if>
            <if test="config != null and config != ''">
                AND config = #{config,jdbcType=VARCHAR}
            </if>
            <if test="icon != null and icon != ''">
                AND icon = #{icon,jdbcType=VARCHAR}
            </if>
            <if test="description != null and description != ''">
                AND description = #{description,jdbcType=VARCHAR}
            </if>
            <if test="other != null and other != ''">
                AND other = #{other,jdbcType=VARCHAR}
            </if>
            <if test="groupId != null and groupId != ''">
                AND group_id = #{groupId,jdbcType=VARCHAR}
            </if>
            <if test="parentId != null and parentId != ''">
                AND parent_id = #{parentId,jdbcType=VARCHAR}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status,jdbcType=INTEGER}
            </if>
        </where>
     </sql>

    <sql id="PageWhere">
        <where>
            <if test="id != null and id != ''">
                AND id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="url != null and url != ''">
                AND url = #{url,jdbcType=VARCHAR}
            </if>
            <if test="config != null and config != ''">
                AND config = #{config,jdbcType=VARCHAR}
            </if>
            <if test="icon != null and icon != ''">
                AND icon = #{icon,jdbcType=VARCHAR}
            </if>
            <if test="description != null and description != ''">
                AND description = #{description,jdbcType=VARCHAR}
            </if>
            <if test="other != null and other != ''">
                AND other = #{other,jdbcType=VARCHAR}
            </if>
            <if test="groupId != null and groupId != ''">
                AND group_id = #{groupId,jdbcType=VARCHAR}
            </if>
            <if test="parentId != null and parentId != ''">
                AND parent_id = #{parentId,jdbcType=VARCHAR}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status,jdbcType=INTEGER}
            </if>
        </where>
        limit <if test="ddPageParmStart != null and ddPageParmStart != ''">#{ddPageParmStart}</if>,<if test="ddPageParmSize != null and ddPageParmSize != ''">#{ddPageParmSize}</if>
    </sql>

	<insert id="insert">
        <![CDATA[
            INSERT INTO menu (
                id ,
                name ,
                url ,
                config ,
                icon ,
                description ,
                other ,
                group_id ,
                parent_id ,
                status 
            ) VALUES (
                #{id,jdbcType=VARCHAR} ,
                #{name,jdbcType=VARCHAR} ,
                #{url,jdbcType=VARCHAR} ,
                #{config,jdbcType=VARCHAR} ,
                #{icon,jdbcType=VARCHAR} ,
                #{description,jdbcType=VARCHAR} ,
                #{other,jdbcType=VARCHAR} ,
                #{groupId,jdbcType=VARCHAR} ,
                #{parentId,jdbcType=VARCHAR} ,
                #{status,jdbcType=INTEGER} 
            )
        ]]>
	</insert>


    <insert id="insertBatch" parameterType="list">
        insert into menu(id,name,url,config,icon,description,other,group_id,parent_id,status)
        values
        <foreach collection="list" item="item" index="index" separator="," >
        (#{item.id,jdbcType=VARCHAR},#{item.name,jdbcType=VARCHAR},#{item.url,jdbcType=VARCHAR},#{item.config,jdbcType=VARCHAR},#{item.icon,jdbcType=VARCHAR},#{item.description,jdbcType=VARCHAR},#{item.other,jdbcType=VARCHAR},#{item.groupId,jdbcType=VARCHAR},#{item.parentId,jdbcType=VARCHAR},#{item.status,jdbcType=INTEGER})
        </foreach>
    </insert>

	<update id="update" >
         UPDATE menu
         <set>
             <if test="name != null">
                  name = #{name,jdbcType=VARCHAR},
              </if>
             <if test="url != null">
                  url = #{url,jdbcType=VARCHAR},
              </if>
             <if test="config != null">
                  config = #{config,jdbcType=VARCHAR},
              </if>
             <if test="icon != null">
                  icon = #{icon,jdbcType=VARCHAR},
              </if>
             <if test="description != null">
                  description = #{description,jdbcType=VARCHAR},
              </if>
             <if test="other != null">
                  other = #{other,jdbcType=VARCHAR},
              </if>
             <if test="groupId != null">
                  group_id = #{groupId,jdbcType=VARCHAR},
              </if>
             <if test="parentId != null">
                  parent_id = #{parentId,jdbcType=VARCHAR},
              </if>
             <if test="status != null">
                  status = #{status,jdbcType=INTEGER}
              </if>
        </set>
        WHERE
        id = #{id} 
    </update>

    <update id="setInvalid">
        UPDATE menu
        <set>
            status = 9999
        </set>
        <include  refid="BaseWhere" />
    </update>

    <!-- 批量置无效，只适用于该表只有1个主键的情况 -->
    <update id="setInvalidBatch">
        UPDATE menu
        <set>
            status = 9999
        </set>
        WHERE id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="setValid">
        UPDATE menu
        <set>
            status = 0
        </set>
        <include  refid="BaseWhere" />
    </update>

    <!-- 批量置有效，只适用于该表只有1个主键的情况 -->
    <update id="setValidBatch">
        UPDATE menu
        <set>
            status = 0
        </set>
        WHERE id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>


    <delete id="delete">
        <![CDATA[
            DELETE FROM menu WHERE
            id = #{id} 
        ]]>
    </delete>

    <!-- 批量删除，只适用于该表只有1个主键的情况 -->
    <delete id="deleteBatch">
        DELETE FROM menu WHERE
        id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getById" resultMap="Menu">
		SELECT <include refid="BaseColumns" />
	    <![CDATA[
		    FROM menu 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>

    <select id="getByPage" resultMap="Menu" parameterType="Map">
        SELECT <include refid="BaseColumns" />
        FROM menu
        <include refid="PageWhere" />
    </select>

    <select id="getByParam" resultMap="Menu">
        SELECT <include refid="BaseColumns" />
        FROM menu
        <include refid="BaseWhere" />
    </select>

</mapper>

